<h1>Create your own game</h1>
<%= form_for @game, :url => { :action => "create" }  do |f|  %>
	<%= f.label :name %>
    <%= f.text_field  :name %><br />
    <%= f.label 'Action 1' %>
    <%= f.text_field  :action1_text %>
    <%= f.select :action1_points, (1..10) %><br />
    <%= f.submit "Add game", class: "btn btn-primary" %>
 <%end%>