<h1>Sign up</h1>
<%= form_for @player, :url => { :action => "create" }  do |player|  %>
	<%= player.label :username %>
    <%= player.text_field  :username %><br />
    <%= player.label :password %>
    <%= player.text_field  :password %><br />
    <%= player.label :email %>
    <%= player.text_field  :email %><br />

    <%= player.submit "Register", class: "btn btn-primary" %>
 <%end%>